<h1>About</h1>

<p>
  This is all about me! This is where I blather on about how I'm learning rails.
  Actually, I do that on <%= link_to "Twitter", "https://twitter.com/chad_jemmett" %>. So follow me!
</p>
